$standard-padding: 2em;
$primary-color: black;
$secondary-color: gray;
$highlight-text-color: white;
$font-family: Arial, Helvetica, sans-serif;

@mixin clear-margin-padding {
    margin: 0;
    padding: 0;
}

body {
    @include clear-margin-padding;
    box-sizing: border-box;
    font: {
        family: $font-family;
        size: 16px;
    }
}

header {
    background:$primary-color;
    padding-top:$standard-padding;
    color:$highlight-text-color;
}

header h1 {
    font-size:2.5em;
    padding-left:30px;
    margin-bottom: 15px;
}

nav ul {
    @include clear-margin-padding;
    list-style-type: none;
}

nav li {
    font-size:1.3em;
    display: inline-block;
    padding: 10px 30px 15px 30px;
    &:hover {
        background-color:$secondary-color;
    }
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color:$highlight-text-color;
}

main {
    display: flex;
    flex-flow:row;
    padding:$standard-padding;
}

article {
    width: 66.6%;
    padding-right:$standard-padding;
}

.main-index {
    section {
        display: flex;
        flex-flow: row wrap;
    }
    article {
        @include clear-margin-padding;
        width: 100%;
    }
    figure {
        @include clear-margin-padding;
        padding-right:$standard-padding;
        width: 40%;
        height: 300px;
        overflow: hidden;
    }
    .news-preview-text {
        width: calc(60% - 2em);
        button {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

aside {
    width: 33.3%;
}

img {
    width: 100%;
}

.img-container {
    display: block;
    overflow: hidden;
    img {
        margin-bottom: -50%;
    }
}

footer {
    color:$highlight-text-color;
    padding:$standard-padding;
    background-color:$secondary-color;
}

@media all and (max-width: 800px) {
    header {
        text-align: center;
        h1 {
            padding: 0;
        }
        nav li {
            display: block;
        }
    }

    main {
        flex-wrap: wrap;
        article { 
            width: 100%;
            padding: 0;
            h2 {
                text-align: center;
            }
        }
        figure {
            margin-left: 0;
            margin-right: 0;
        }
        aside {
            width: 100%; 
        }
    }
  }